body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
}
.sign-up-form
{
    width: 500px;
    box-shadow: 0 0 3px 0 rgba(110, 110, 110, 0.3);
    background: rgb(54, 54, 54) ;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 85%;
    border: 1px solid #999;
    outline: none;
}
button {
    color: white;
    width: 100%;
    border-radius: 20px;
    margin: 1px 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-family:'Lucida Sans Regular';
    font-size: 13px;
}
.create-account-btn {
    background-color:#b4c424ba;
    width: 250px;
    padding: 1px;
}
.create-button {
    text-align: right;
}



#Text1 {
    background-image: url("name-icon.png");
    position: left;
    padding-left: 30px;
    padding-right: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    border-radius: 20px;

}
#Text2 {
    background-image: url("telephone-icon.png");
    position: left;
    padding-left: 30px;
    padding-right: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    border-radius: 20px;

}
#Text3 {
    background-image: url("email-icon.png");
    position: left;
    padding-left: 30px;
    padding-right: 30px;
    background-size: 28px;
    background-repeat: no-repeat;
    border-radius: 20px;

}
#Text4 {
    background-image: url("password-icon.png");
    position: left;
    padding-left: 30px;
    padding-right: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    border-radius: 20px;

}
