body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
}
.sign-up-form
{
    width: 500px;
    box-shadow: 0 0 3px 0 rgba(110, 110, 110, 0.3);
    background: rgb(54, 54, 54) ;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 85%;
    border: 1px solid #999;
    outline: none;
}
button {
    color: white;
    width: 100%;
    border-radius: 20px;
    margin: 1px 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-family:'Lucida Sans Regular';
    font-size: 13px;
}
.create-account-btn {
    background-color:#b4c424ba;
    width: 250px;
    padding: 1px;
}
.create-button {
    text-align: right;
}

.name-icon {
    padding-left: 25px;
    background: url("name-icon.png") no-repeat left;
    background-size: 20px;
}

.telephone-icon{
    padding-left: 25px;
    background: url("telephone-icon.png") no-repeat left;
    background-size: 20px;
}

.email-icon{
    padding-left: 25px;
    background: url("email-icon.png") no-repeat left;
    background-size: 20px;
}
.password-icon {
    padding-left: 25px;
    background: url("password-icon.png") no-repeat left;
    background-size: 20px;
}
